<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
            <v-card class="mx-auto" max-width="400" tile>
              Преподаватели:
              <v-list-item
                link
                v-for="mentor in mentors"
                @click="getMentor(mentor.login)"
              >
                <v-list-item-content two-line>
                  <v-list-item-title>{{mentor.name}}</v-list-item-title>
                  <v-list-item-subtitle
                    >{{mentor.login}} -- Бюджет: {{mentor.budget}} Платно:
                    {{mentor.money}}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-btn @click="addMentorFunc" color="success" class="mr-4">
                Добавить преподавателя
              </v-btn>
            </v-card>

            <br />
            <v-card class="mx-auto" max-width="400" tile>
              <v-list>
                Студенты:

                <v-list-item
                  link
                  v-for="student in students"
                  @click="getStudent(student.login)"
                >
                  <v-list-item-content two-line>
                    <v-list-item-title>{{student.name}} </v-list-item-title>
                    <v-list-item-subtitle
                      >{{student.login}} -- {{student.type}}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>

              <v-btn @click="addStudentFunc" color="success" class="mr-4">
                Добавить студента
              </v-btn>
            </v-card>
          </v-container>
          <v-dialog v-model="studentDialog" v-if="student" width="500">
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                {{student.name}}
              </v-card-title>

              <v-card-text>
                {{student.login}} <br />
                {{student.type}} <br />
                <v-list>
                  <v-list-item v-for="interes in student.interes">
                    <v-list-item-content>
                      <v-list-item-title>{{interes}} </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-btn
                  color="success"
                  class="mr-4"
                  @click="addInteresFunc(student.login)"
                >
                  Добавить интерес
                </v-btn>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-dialog v-model="mentorDialog" v-if="mentor" width="500">
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                {{mentor.name}}
              </v-card-title>

              <v-card-text>
                {{mentor.login}} -- Бюджет: {{mentor.budget}} Платно:
                {{mentor.money}}

                <v-list>
                  <v-list-item v-for="interes in mentor.interes">
                    <v-list-item-content>
                      <v-list-item-title>{{interes}} </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-btn
                  color="success"
                  class="mr-4"
                  @click="addInteresFunc(mentor.login)"
                >
                  Добавить интерес
                </v-btn>

                <v-list v-for="t in ['budget', 'money']">
                  {{t}}
                  <v-list-item
                    link
                    v-for="student in mentor.students[t]"
                    @click="getStudent(student[0])"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        >{{student[1]}} -- Общих интересов {{student[3]}}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-dialog v-model="addInteres.modal" width="500">
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                Добавить интерес
              </v-card-title>

              <v-card-text>
                <v-form @submit.prevent="saveInteres">
                  <v-text-field
                    v-model="addInteres.inters"
                    label="Название интереса"
                    required
                  ></v-text-field>
                  <v-btn color="success" class="mr-4" type="submit">
                    Сохранить
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-dialog v-model="addStudent.modal" width="500">
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                Добавить студента
              </v-card-title>

              <v-card-text>
                <v-form @submit.prevent="saveStudent">
                  <v-text-field
                    v-model="addStudent.login"
                    label="Логин"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="addStudent.name"
                    label="имя"
                    required
                  ></v-text-field>
                  <v-select
                    v-model="addStudent.type"
                    :items="['budget', 'money']"
                    label="Тип"
                    required
                  ></v-select>

                  <v-btn color="success" class="mr-4" type="submit">
                    Сохранить
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-dialog v-model="addMentor.modal" width="500">
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                Добавить преподавателя
              </v-card-title>

              <v-card-text>
                <v-form @submit.prevent="saveMentor">
                  <v-text-field
                    v-model="addMentor.login"
                    label="Логин"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="addMentor.name"
                    label="имя"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="addMentor.budget"
                    label="Кол-во бюджетных мест"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="addMentor.money"
                    label="Кол-во платных мест"
                    required
                  ></v-text-field>
                 
                  <v-btn color="success" class="mr-4" type="submit">
                    Сохранить
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          students: [],
          mentors: [],
          student: null,
          mentor: null,
          studentDialog: false,
          mentorDialog: false,

          addInteres: {
            modal: false,
            login: "",
            inters: "",
          },
          addStudent: {
            modal: false,
            login: "",
            name: "",
          },
          addMentor: {
            modal: false,
            login: "",
            name: "",
          },
        },
        created() {
          this.getStudents();
          this.getMentors();
        },
        methods: {
          async getStudents() {
            let data = await fetch("/students");
            let d = await data.json();
            this.students = d.students;
          },
          async getMentors() {
            let data = await fetch("/mentors");
            let d = await data.json();
            this.mentors = d.mentors;
          },

          async getStudent(login) {
            let data = await fetch("/student/" + login);
            let d = await data.json();
            this.student = d.student;
            this.studentDialog = true;
          },

          async getMentor(login) {
            let data = await fetch("/mentor/" + login);
            let d = await data.json();
            this.mentor = d.mentor;
            this.mentorDialog = true;
          },

          addInteresFunc(login) {
            this.addInteres.login = login;
            this.addInteres.inters = "";
            this.addInteres.modal = true;
          },

          async saveInteres() {
            await fetch(
              `/add/interes?login=${this.addInteres.login}&interes=${this.addInteres.inters}`
            );
            this.addInteres.modal = false;

            if (this.studentDialog) this.getStudent(this.student.login);

            if (this.mentorDialog) this.getMentor(this.mentor.login);
          },
          addStudentFunc() {
            this.addStudent.login = "";
            this.addStudent.name = "";
            this.addStudent.type = "budget";
            this.addStudent.modal = true;
          },
          async saveStudent() {
            await fetch(
              `/add/student?login=${this.addStudent.login}&name=${this.addStudent.name}&type=${this.addStudent.type}`
            );
            this.addStudent.modal = false;

            this.getStudents();
          },

          addMentorFunc() {
            this.addMentor.login = "";
            this.addMentor.name = "";
            this.addMentor.budget = 0;
            this.addMentor.money = 0;
            this.addMentor.modal = true;
          },
          async saveMentor() {
            await fetch(
              `/add/mentor?login=${this.addMentor.login}&name=${this.addMentor.name}&budget=${this.addMentor.budget}&money=${this.addMentor.money}`
            );

            this.addMentor.modal = false;

            this.getMentors();
          },
        },
      });
    </script>
  </body>
</html>
